@model Fiqh_Academy.Models.Update
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href=@Url.Content("/Content/img/fav.png")>
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Education</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/linearicons.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/magnific-popup.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/nice-select.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/animate.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/owl.carousel.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/jquery-ui.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/main.css")>
</head>
<body>
    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                        <a href="tel:+953 012 3654 896"><span class="lnr lnr-phone-handset"></span> <span class="text">+953 012 3654 896</span></a>
                        <a href="mailto:support@colorlib.com"><span class="lnr lnr-envelope"></span> <span class="text">support@colorlib.com</span></a>
                    </div>
                </div>
            </div>
        </div>
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-dark" id="successMessage">@TempData["Success"]</p>
        }
        <div class="container main-menu">

            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/Home/Index"><img src="@Url.Content("/Content/img/logo.jpg")" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <!--<li class="menu-has-children">
                        <a href="">Announcements</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>-->
                        <li class="menu-has-children">
                            @Html.ActionLink("Bayanaat", "Index", "Bayan")
                            <ul>
                                <li><a href="blog-home.html">Blog Home</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children">
                            @Html.ActionLink("Books & Maqalaat", "Index", "Book")
                            <ul>
                                <li><a href="blog-home.html">Blog Home</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <!--<li>Html.ActionLink("Fatawa", "Index", "Fatawa")</li>-->
                        <!--<li class="menu-has-children">
                        <a href="">Featured</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>-->
                        <li class="menu-has-children">
                            @Html.ActionLink("Courses", "Index", "Courses")
                            <ul>
                                <li><a href="/courses/shahadah">Shahadah-Dirasia</a></li>
                                <li><a href="/courses/taleem">Taleem-ul-Islam</a></li>
                                <li><a href="/courses/lisan">Lisan-ul-Quran</a></li>
                                <li><a href="/Registration/Create">Course Registration</a></li>
                            </ul>
                        </li>
                        <!--<li class="menu-has-children">
                        Html.ActionLink("Services", "Index", "Services")
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>-->
                        <li class="menu-has-children">
                            @Html.ActionLink("About us", "About", "Home")
                            <ul>
                                <li><a href="blog-home.html">Blog Home</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-9 col-md-12">
                    <h1 class="text-uppercase">
                        Online Traditional Islamic Learning
                    </h1>
                    <p class="pt-10 pb-10">
                        Fiqh Academy is an online centre for traditional Islamic learning and spiritual sciences under the supervision of Mufti Owais Pasha Qarni (db).
                        Our courses are designed to connect an average Muslim to the rich scholarly tradition of Ahlus Sunnah wal Jama’a through a modern approach.
                    </p>
                    <a href="/Courses/Index" class="primary-btn text-uppercase">View Courses</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start feature Area -->
    <section class="feature-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature">
                        <div class="title">
                            <h4>Learn Online Courses</h4>
                        </div>
                        <div class="desc-wrap">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement
                                of technology.
                            </p>
                            <a href="/Courses/Index">Our Courses</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <div class="title">
                            <h4>Listen daily lectures</h4>
                        </div>
                        <div class="desc-wrap">
                            <p>
                                For many of us, our very first experience of learning about the celestial bodies begins when we saw our first.
                            </p>
                            <a href="/Bayan/Index">Daily Lectures</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <div class="title">
                            <h4>Read Books</h4>
                        </div>
                        <div class="desc-wrap">
                            <p>
                                If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event.
                            </p>
                            <a href="/Book/Index">Our Library</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->
    <!-- Start popular-course Area -->
    <section class="popular-course-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Courses we offer</h1>
                        <p>You can register yourself in any of the courses below.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-popular-carusel">
                    <div class="single-popular-carusel">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="/courses/shahadah">
                                    <img class="img-fluid" src="@Url.Content("/Content/img/p1.jpg")" alt="">
                                </a>
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                <h4>$150</h4>
                            </div>
                        </div>
                        <div class="details">
                            <a href="/courses/shahadah">
                                <h4>
                                    Shahadah-Dirasiya
                                </h4>
                            </a>
                            <p>
                                اس نصاب کے مقاصد یہ ہیں کہ طلبہ کو علماء دین و علومِ اسلامی کی چودھا صدیوں پر محیط روایت اور اقدار سے روشناس کروایا جائے اور فکری مضامین میں رسوخ کی جانب پیش قدمی ہو۔
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-carusel">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="/courses/Taleem">
                                    <img class="img-fluid" src="@Url.Content("/Content/img/p2.jpg")" alt="">
                                </a>
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                <h4>$150</h4>
                            </div>
                        </div>
                        <div class="details">
                            <a href="/courses/taleem">
                                <h4>
                                    Taleem-ul-Islam
                                </h4>
                            </a>
                            <p>
                                مختلف شعبہ ہائے زندگی اور متنوع عمروں سے تعلق رکھنے والے افراد کو دین کی بنیادی تعلیمات سے آراستہ کرنا۔
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-carusel">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="/courses/Lisan">
                                    <img class="img-fluid" src="@Url.Content("/Content/img/p3.jpg")" alt="">
                                </a>
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                <h4>$150</h4>
                            </div>
                        </div>
                        <div class="details">
                            <a href="/courses/lisan">
                                <h4>
                                    Lisan-ul-Quran
                                </h4>
                            </a>
                            <p>
                                اِسی طرح حدیث نبوی کو سمجھنے کے لیے جو درحقیقت قرآنِ حکیم ہی
                                کی شرح اور حکمت و احکام دین کا ایک عظیم خزانہ ہے عربی زبان سیکھنا بے حد ضروری ہے ۔
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-carusel">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="/courses/Lisan">
                                    <img class="img-fluid" src="@Url.Content("/Content/img/p4.jpg")" alt="">
                                </a>
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                                <h4>$150</h4>
                            </div>
                        </div>
                        <div class="details">
                            <a href="/courses/lisan">
                                <h4>
                                    Arabic Grammar
                                </h4>
                            </a>
                            <p>
                                ان ہی میں سے ایسے لوگ تیار ہوں جو ٹھوس علمی بنیادوں پر دعوت و تبلیغ اور تحقیق و تصنیف کی راہوں پر آگے بڑھنے کی استعداد رکھتے ہوں۔چنانچہ آگے چل کر اپنے تعلیمی سفر کو آگے بڑھائیں اور ایک مستند اور پختہ کار عالمِ ربانی کی حیثیت اختیار کر سکیں۔
                            </p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
    <!-- End popular-course Area -->
    <!-- Start search-course Area -->
    <section class="search-course-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-6 search-course-left">
                    <h1 class="text-white">
                        Get all the <br>
                        latest updates
                    </h1>
                    <p>
                        Sign up and get all the latest updates regarding our courses, events, tweets, audio and video lectures of scholars regarding ongoing situation.
                    </p>
                    <div class="row details-content">
                        <div class="col single-detials">
                            <span class="lnr lnr-graduation-hat"></span>
                            <a href="#"><h4>Expert Instructors</h4></a>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                            </p>
                        </div>
                        <div class="col single-detials">
                            <span class="lnr lnr-license"></span>
                            <a href="#"><h4>Certification</h4></a>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 search-course-right section-gap">
                    @using (Html.BeginForm("Create","Update"))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-wrap">
                        <h4 class="text-white pb-20 text-center mb-30">Register to get updates</h4>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Your Name'" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Phone Number", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Your Phone Number'" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email Address", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Your Email Address'" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        @Html.RadioButtonFor(model => model.ContactType, "Text") Text&emsp;
                        @Html.RadioButtonFor(model => model.ContactType, "WhatsApp") WhatsApp&emsp;
                        @Html.RadioButtonFor(model => model.ContactType, "Email") Email
                        <button type="submit" class="primary-btn text-uppercase">Submit</button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End search-course Area -->
    <!-- Start upcoming-event Area -->
    <section class="upcoming-event-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Upcoming Events of our Institute</h1>
                        <p>You can join us in our upcoming events</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-upcoming-event-carusel">
                    <div class="single-carusel row align-items-center">
                        <!--<div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="Url.Content("/Content/img/e1.jpg")" alt="">
                        </div>-->
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>
                                    Trip to Dar-ul-uloom Korangi
                                </h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">
                        <!--<div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="Url.Content("/Content/img/e2.jpg")" alt="">
                        </div>-->
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>
                                    Eid Milan Party
                                </h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">

                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>
                                    Khatam-e-Bukhari Shareef
                                </h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">

                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>
                                    Picnic at Balochistan
                                </h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">

                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>
                                    Shab-e-Jumma
                                </h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">

                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>
                                    End Session Program
                                </h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End upcoming-event Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Top Products</h4>
                        <ul>
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#">Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Quick links</h4>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Features</h4>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="input-group">
                                    <input class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row align-items-center justify-content-between">
                <p class="footer-text m-0 col-lg-6 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-6 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/Content/js/easing.min.js"></script>
    <script src="/Content/js/hoverIntent.js"></script>
    <script src="/Content/js/superfish.min.js"></script>
    <script src="/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/js/jquery.tabs.min.js"></script>
    <script src="/Content/js/jquery.nice-select.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/mail-script.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>